
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#000;
  color:white;
}

.app{
  width:100%;
}

/* NAVBAR */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  background:#111;
  position:sticky;
  top:0;
}

.logo{
  color:cyan;
}

.nav-links{
  display:flex;
  gap:20px;
  list-style:none;
}

.nav-links a{
  color:white;
  text-decoration:none;
}

/* HERO */

.hero{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero h2{
  font-size:60px;
}

.hero span{
  color:cyan;
}

.hero p{
  margin-top:20px;
  font-size:24px;
}

.hero button{
  margin-top:30px;
  padding:15px 30px;
  border:none;
  background:cyan;
  color:black;
  font-size:18px;
  border-radius:10px;
  cursor:pointer;
}

/* SKILLS */

.skills{
  padding:100px 50px;
}

.title{
  text-align:center;
  font-size:40px;
  margin-bottom:50px;
}

.skill-box{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
}

.card{
  background:#111;
  padding:40px;
  text-align:center;
  border-radius:15px;
  border:1px solid cyan;
}

/* PROJECTS */

.projects{
  padding:100px 50px;
}

.project-box{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.project-card{
  background:#111;
  padding:30px;
  border-radius:15px;
  border:1px solid cyan;
}

/* CONTACT */

.contact{
  padding:100px 50px;
}

.contact-form{
  display:flex;
  flex-direction:column;
  gap:20px;
  max-width:600px;
  margin:auto;
}

.contact-form input,
.contact-form textarea{
  padding:15px;
  border:none;
  border-radius:10px;
}

.contact-form button{
  padding:15px;
  border:none;
  background:cyan;
  color:black;
  font-size:18px;
  border-radius:10px;
  cursor:pointer;
}

/* FOOTER */

.footer{
  text-align:center;
  padding:30px;
  background:#111;
  margin-top:50px;
}

